<div class="containner-signin">
  <form (ngSubmit)="onSubmit()" class="form-signin"  #form="ngForm">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Login</h1>
    <label for="inputUser" class="sr-only">User</label>
    <input type="text" id="inputUser" [(ngModel)]="usuario.login" name="login" class="form-control" placeholder="user" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [(ngModel)]="usuario.senha" name="senha" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <div class="register">
      <a href="/register">Cadastre-se</a>
    </div>
  </form>
</div>
