<div class="containner-signin">
  <form class="form-signin" (ngSubmit)="submit()" #form="ngForm">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Cadastrar</h1>
    <label for="inputNome" class="sr-only">Nome Completo</label>
    <input type="text" id="inputNome" [(ngModel)]="usuario.nome" name="nome" class="form-control"
      placeholder="Nome Completo" required>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" [(ngModel)]="usuario.email" name="email" class="form-control" placeholder="email"
      required>
    <label for="inputlogin" class="sr-only">User</label>
    <input type="text" id="inputlogin" name="login" [(ngModel)]="usuario.login" class="form-control" placeholder="user"
      required>
    <label for="inputsenha" class="sr-only">Password</label>
    <input type="password" id="inputsenha" [(ngModel)]="usuario.senha" name="senha" class="form-control"
      placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
    <div class="register">
      <a href="/login">Ja tem Login?</a>
    </div>
  </form>
</div>