<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Novo Album</h3>
    </div>
  </div>
  <form enctype='multipart/form-data' (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row">
      <div class="col-6">
        <label for="inputNome" class="sr-only">Nome Album</label>
        <input type="text" id="inputNome" [(ngModel)]="album.descricao" name="descricao" class="form-control" placeholder="Nome Album" required>
      </div>
      <div class="col-6">
        <label for="files">Files:</label>
        <input type="file" id="files" name="imagens"
          accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp,image/tiff" multiple
          (change)="handleFileInput($event.target.files)"><br><br>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
  </form>
</div>