<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Posts</h3>
    </div>
  </div>
  <div *ngFor="let post of posts" class="row" style="justify-content: center; margin-top: 15px;">
    <div class="card col-8">
      <div class="card-body">
        <button *ngIf="post.usuario.id == idUsuario" (click)="delete(post.id)" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="card-title">{{ post.usuario.nome }}</h5>
        <p class="card-text">{{ post.descricao }}</p>
        <div style="margin-top: 15px;">
          <form #form="ngForm">
            <div class="row">
              <div class="col-12">
                <label for="inputComentario" class="sr-only">Comentario</label>
                <input type="text" id="inputComentario" [(ngModel)]="comentario.descricao" name="descricao" class="form-control"
                  placeholder="Comentario" required>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" (click)="salvar(post)">Publicar</button>
          </form>
        </div>
        <ul style="margin-top: 15px;" class="list-group">
          <li *ngFor="let comentario of post.comentarios" class="list-group-item">
            <button *ngIf="comentario.usuario.id == idUsuario" (click)="deleteComentario(comentario.id, post.id)" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ comentario.descricao }} - {{ comentario.usuario.nome }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>