<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Adcionar Post</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row">
      <div class="col-12">
        <label for="inputPost" class="sr-only">Post</label>
        <textarea type="text" id="inputPost" [(ngModel)]="post.descricao" name="descricao" class="form-control"
          placeholder="Post" required>
        </textarea>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Publicar</button>
  </form>
</div>